* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  overflow: hidden;
  /* display: flex; */
  color: white;
  background: rgb(5, 5, 5);
}
h1 {
  font-size: 4rem;

 width: 100%;
 height: 200px;
  font-family: 'Brush Script MT', cursive;
  color: #ff0000; /* A warm orange shade */
  text-align: center;
  text-shadow: 3px 3px 5px #6a6235, 5px 5px 10px #FF4500;
  background: linear-gradient(45deg, #e9ce35, #FF6347, #FFA07A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: sparkle 1.0s ease-in-out infinite alternate;
  padding:none;
  margin: none;
  position: absolute;
  background-color: transparent;
  /* position: absolute; */

}

@media (max-width : 500px) {
 h1{
  font-size: 2.5rem;
 }
  
}

@keyframes sparkle {
  0% {
      text-shadow: 3px 3px 5px #FFD700, 5px 5px 10px #FF4500;
  }
  50% {
      text-shadow: 3px 3px 10px #FFD700, 5px 5px 15px #FF4500;
  }
  100% {
      text-shadow: 3px 3px 5px #FFD700, 5px 5px 10px #FF4500;
  }
}



footer {
  color: #f01a1a; /* Light text color */
  text-align: center;
  padding: 20px;
  font-size: 1.2em;
  font-family: 'Playfair Display', serif; /* Elegant font style */
  letter-spacing: 1px; /* Refined letter spacing */
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  background-color: transparent; /* Transparent background */
  animation: fadeIn 3s ease-in-out; /* Initial fade-in effect */
}

.tap{
  color: #594c4c; /* Light text color */
  text-align: center;
  padding: 20px;
  font-size: 1.2em;
  font-family: 'Playfair Display', serif; /* Elegant font style */
  letter-spacing: 1px; /* Refined letter spacing */
  position: fixed;
  bottom: 50%;
  width: 100%;
  z-index: 10;
  background-color: transparent; /* Transparent background */
  animation: fadeIn 3s ease-in-out; /* Initial fade-in effect */
}

div {
  
  /* Elegant, script-like font */
  font-weight: bold;
  text-align: center;
  color: #fff;
  background: linear-gradient(45deg, #00ff66, #d7f305, #3f07f4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Creates a gradient text effect */
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  letter-spacing: 2px;
  animation: pulse 2s ease-in-out infinite;
}

/* Animation to add a soft pulsing effect */
@keyframes pulse {
  0% {
      transform: scale(1);
      text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  }
  50% {
      transform: scale(1.05); /* Slightly increase size */
      text-shadow: 4px 4px 10px rgba(255, 215, 0, 0.5); /* Glow effect */
  }
  100% {
      transform: scale(1);
      text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  }
}
.ll{
  font-family:"Cedarville Cursive", cursive ;
  background: linear-gradient(45deg, #9900ff, #f38c05, #4a07f4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Creates a gradient text effect */
}
